@{
    ViewBag.Title = "Administration";
}
<script type="text/javascript">
    $(function () {

        var check = function (e) {

            // display products sublist with category = .categoryName.text()
            if ($(".productsOptions:visible").length === 0) {
                displayProducts($(e).find($('.categoryName')).text());
            }
            // display all products if sublist visible
            else {
                displayProducts();
            }
        }

        // display products for clicked category
        // show sublist and hide other categories sublists
        $('.categoryOption').click(function (e) {
            e.stopPropagation();
            check(this);
            $(this).find('.productsOptions').toggle();
            $(this).siblings().find('.productsOptions').hide();
        });

        // display colors for clicked product name
        // show sublist and hide other categories sublists
        $('.productOption').click(function (e) {
            e.stopPropagation();
            $(this).children('.colorsOptions').toggle();

            var category = $(this).closest($('.categoryOption')).find('.categoryName').text()
            displayProducts(category, $(this).find('.productName').text());
        });

        // avoid sublist hiding
        $('.colorsOptions').click(function (e) {
            e.stopPropagation();
        });

        // show products on GetProducts() view
        // name     - product name
        // category - products category
        var displayProducts = function (e, f) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetProducts", "Home")',
                data:
                    {
                        category: e,
                        productName: f
                    }
            }).done(function (result) {

                // display products
                $('#productsList').html(result);
            }).fail(function (result) {

                // display error alert if something is wrong
                alert("Error, contact with administrator.");
            });
        }
    })
</script>

<aside class="col-md-4 text-center">
    @Html.ActionLink("ADD NEW", "Create", null, new { @class = "btn btn-black" })

    @{Html.RenderAction("Menu");}
</aside>

<div id="productsList" class="col-md-8">
    @if (ViewBag.Message != null)
    {
        <div class="text-center text-success" style="padding-bottom: 10px">
            <b><i>@ViewBag.Message</i></b>
        </div>
    }
    @{ Html.RenderAction("GetProducts");}
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquery")
}