@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ADMIN PANEL</h1>
    @Html.ActionLink("GO", "Index", "Home", new { Area = "Admin" }, new { @class = "btn btn-primary btn-lg" })
</div>